{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="index-block">
    <div class="title-index">
        BIENVENUE GEFOR
    </div>
</div>
{% endblock %}
