{# templates/login.html.twig #}

<h1>Connexion</h1>

{{ form_start(form) }}

{# Autres champs du formulaire... #}

<button type="submit">Se connecter</button>

{{ form_end(form) }}

<a href="{{ path('menu_utilisateur') }}">Aller au menu utilisateur</a>